html, body, #map {
	height: 100%;
}

body {
	padding:0px;
	margin:0px;
}

.thumbnail {
	height: 50px;
	width: 50px;
}

.editButton {
   border: 2px solid #333; background: #666;
   font-size: 8px; font-weight: bold; color: #ccc;
}
